/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/******************** imposto le regole del contenitore-slide ********************/
.contenitore-slide {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

/******************** imposto le regole del contenitore img *******************/

/* imposto larghezza contenitore .image per centrarlo con width all'80% */
.image {
  width: 80%;
  /* margin: 0 auto; ****** non inserisco xkè somma il blocco img 100% al margin:0 auto */
}
/* imposto larghezza tot 100% dell'img - assegno display:none per nasconderle tutte */
/* in seguito attiverò solo la prima con un .active in display:inli-block */

.image img {
  width: 100%;
  display: none;

}

.image img.active {
  display: inline-block;
}

/******************** imposto le regole icon navigazione *******************/

.icon-prev i, .icon-next i {
  font-size: 40px;
  color: grey;
}

.icon-prev i:hover, .icon-next i:hover {
  color: black;
  font-size: 43px;
  transition: 1s;
}

/******************** imposto le regole pallini navigazione *******************/
.navigazione {
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
}

/* solo al pallino i con active do il colore rosso */
.navigazione i:active:hover {
  color: grey;
  font-size: 22px;
}
.navigazione i {
  font-size: 20px;
  color: rgba(140,140,140,.78);
}
